mixin tab-button(button)
    a(
        class=`tab-button ${button.isActive ? 'tab-button_active' : ''}` 
        href=button.href 
        role='tab'
        aria-label=button.title
        id=button.id
    ) #{button.title}
