mixin tag(sort, text, event, status, isGoing)
    if status === 'live' || status === 'RSS'
        button(onclick=event class=`tag tag_${sort} tag_record tag_${status}`) 
            img(src = `../../icons/${status}_icon.svg` class=`tag_icon`)
            span.tag_span #{text}
    else 
        button(onclick=event class=`tag tag_${sort} tag_${status} ${isGoing ? 'tag_event_true': 'tag_event_false'}` type='button') #{text}