mixin pag-button(iconPosition, page)
    if iconPosition
        button(class=`pag-button-with-icon pag-button_${iconPosition}` onclick=`${iconPosition === 'left' ? 'prevPage(event)' : 'nextPage(event)'} `)
            span.pag-button__title #{iconPosition === 'left' ? 'Назад' : 'Вперед'}
    else
        a(href="#" class=`pag-button` onclick=`clickPage(event, ${page})`) #{page}