mixin pag-button(button)
    if button.iconPosition
        .button(class=`pag-button-with-icon pag-button_${button.iconPosition}` onclick=`${button.iconPosition === 'left' ? 'prevPage(event)' : 'nextPage(event)'} ` value=button.value) 
            span.pag-button__title #{button.title}
    else
        .button(class=`pag-button` onclick='clickPage(event)' value=button.value) #{button.num}