mixin event(data)
    .event
        .event__container            
            .event__info 
                .event__time-block 
                    ion-icon(name=`time`).event__icon
                    span.event__time #{data.time}
                .event__location 
                    span.event__place #{data.building}
                    .event__icon-dot
                    span.event__place #{data.cabinet}
            p.event__description #{data.description}
            span.event__number #{data.number}           

