include ../../modal-title/modal-title

mixin event(data)
    .event
        .event__container            
            .event__info 
                .event__time-block 
                    ion-icon(name=`time`).event__icon
                    span.event__time #{data.time}
                .event__location 
                    .event__place
                        span.event__place-text #{data.building}
                        +modal-title(data.building)
                    .event__icon-dot
                    span.event__cabinet #{data.cabinet}
            p.event__description #{data.description}
            span.event__number #{data.number}           

