include ../../../libs/linkslist/_linkslist
include ../../documents/shortlist/documents-shortlist

mixin dm-deput(data)
    .dm-deput 
        .dm-deput-container 
            .dm-deput-left
                .dm-deput-card
                    .dm-deput-card-img 
                        img(src=`./resources/${data.img}`)
                    .dm-deput-card-info
                        .dm-deput-name
                            span= data.name
                        .dm-deput-status
                            span= data.status
                .dm-deput-left-info
                    +linkslist([{title:"Электронная приемная",  href:"#", icon: 'mail-unread-outline'},{title:"График приема по личным вопросам", href:"#", icon: 'calendar-outline'},])
                    .dm-deput-info-text 
                        .dm-deput-info-text-title   
                            span Помощники депутата
                        .dm-deput-info-text-info
                            p Чернецова Светлана Владимировна
                                br
                                | Тел.: 8922-776-98-96
                            p Тарасов Олег Олегович
                                br
                                | Тел.: 8922-431-40-42
                                br
                                | E-mail: OlegER2021@gmail.com
                            p Латыпова София Ильдусовна
                                br
                                | Тел.: 89128137803
                                br
                                | E-mail: latypovacomm@gmail.com
                            p Шипук Ярослав Николаевич
                                br
                                | Тел.: 89222541324
                                br
                                | Тел.: 89495720774
                    +linkslist([{title:"Избирательный округ №3",  href:"#"}])
            .dm-deput-right
                .dm-deput-right-info
                    .dm-deput-top 
                        .dm-deput-name
                            span= data.name
                        .dm-deput-status
                            span= data.status
                    .dm-deput-main
                        p Родился 1 июня 1973 года в Курске, в 1988 году после окончания 8-го класса вместе с родителями переехал в Югру. Здесь получил первое образование в Нижневартовском нефтяном техникуме по специальности «Бурение нефтяных и газовых скважин».
                        p В 2004 году закончил Уральскую академию государственной службы по специальности «Государственное и муниципальное управление». Имеет квалификационную степень в сфере управления MBA (Master of Business Administration) Российской академии народного хозяйства и государственной службы при Президенте Российской Федерации.
                        p Кандидат социологических наук.
                        p До 2012 года занимался предпринимательской деятельностью.
                        p Начиная с 2006 года дважды избирался депутатом муниципального уровня и дважды – депутатом Думы Югры.
                        p С 2013 по 2015 год работал заместителем Губернатора ХМАО – Югры. Курировал внутриполитический блок.
                        p С 2016 по 2021 год возглавлял Комитет по бюджету, финансам и налоговой политике Думы Югры.
                        p 27 февраля 2021 года избран Главой города Сургута.
                        p Член партии «ЕДИНАЯ РОССИЯ».
                        p Женат, воспитывает двоих сыновей.
                +short-filelist([
                    {title:"Отчёт о деятельности постоянных комитетов в 2023 году.pdf ", href:"#"},
                    {title:"Отчёт о деятельности постоянных комитетов в 2023 году.pdf ", href:"#"}
                ])