mixin icon-position(icon, iconPosition, size, text)
    if icon && iconPosition === 'left'
        img(src = `./icons/${icon}` class=`icon_left icon_left-${size}`).icon
    | #{text}
    if icon && iconPosition === 'right'
        img(src = `./icons/${icon}` class=`icon_right icon_right-${size}`).icon

mixin ui_buttons(options)
    if options.href && options.type === 'link'
        if options.color === '#004cc4' 
            a.button.button_blue.button_link(href=options.href target='blank' class=`button_${options.size} ${options.icon ? `button-with-icon-${options.iconPosition}-${options.size}` : ''}`)
                +icon-position(options.icon, options.iconPosition, options.size, options.text)
        else if options.color === '#14BC30' 
            a.button.button_green.button_link(href=options.href target='blank' class=`button_${options.size} ${options.icon ? `button-with-icon-${options.iconPosition}-${options.size}` : ''}`)
                +icon-position(options.icon, options.iconPosition, options.size, options.text)
    else 
        if options.type === 'primary'
            if options.color === '#004cc4' 
                button.button.button_blue(onclick=options.event class=`button_${options.size} ${options.icon ? `button-with-icon-${options.iconPosition}-${options.size}` : ''}`)
                    +icon-position(options.icon, options.iconPosition, options.size, options.text)
            else if options.color === '#14BC30' 
                button.button.button_green(onclick=options.event class=`button_${options.size} ${options.icon ? `button-with-icon-${options.iconPosition}-${options.size}` : ''}`)
                    +icon-position(options.icon, options.iconPosition, options.size, options.text)
        else if options.type === 'secondary'
            button.button.button_secondary(onclick=options.event class=`button-secondary-${options.size} ${options.icon ? `button-secondary-with-icon-${options.iconPosition}-${options.size}` : ''}`)
                +icon-position(options.icon, options.iconPosition, options.size, options.text)