mixin logo(data)
    a.header__main-links(
        href=data.href
        role='link'
        title='Главная'
        aria-label='Главная страница'
        )
        img(class=`header__logo` src=`../icons/footer-logo_icon.svg` alt='Логотип')
        .header__main-links__block 
            span.header__title #{data.title}
            span.header__main-link #{data.about}