mixin main-link(data)
    - const hasClass = data.class ? `${data.class}-link` : ''
    - const hasIcon = data.class ? `${data.class}-link__icon` : ''
    - const hasTitle = data.class ? `${data.class}-link__title` : ''

    a(href=data.href class=[hasClass] role='link' aria-label=data.title)
        div(class=`${hasClass}__container`)
            if data.icon
                ion-icon(name=`${data.icon}` class=`icon ${hasIcon}`)
            if data.svg_icon
                img(src=`../icons/${data.svg_icon}` alt='Иконка' class=[hasIcon])     
            span(class=[hasTitle]) #{data.title} 