mixin footer(links)
    footer.footer
        .footer_container
            .footer_container-top
                .footer__header 
                    .footer__header-links
                        a(href=`/`).footer__main-links
                            img(class=`footer__logo` src=`../icons/footer-logo_icon.svg` alt='Логотип')
                            .footer__header-links__block 
                                span.footer__title Администрация Сургута
                                span.footer__link Официальный портал
                        .footer__social-links
                            a.footer__link-icon(href='/')
                                img(src=`../icons/vk-footer_icon.svg`)
                            a.footer__link-icon(href='/')
                                img(src=`../icons/ok-footer_icon.svg`)
                            a.footer__link-icon(href='/')
                                img(src=`../icons/tg-footer_icon.svg`)
            .footer__contacts 
                a(href='https://yandex.ru/maps/973/surgut/house/ulitsa_engelsa_8/Y0oYdQ5kSkQAQFhrfX51c31lZw==/?ll=73.394317%2C61.242164&z=17' target='_blank').footer__address 628400, г. Сургут, ул. Энгельса, 8
                a(href='mailto:gorod@admsurgut.ru').footer__email 
                    img(src=`../icons/mail-footer_icon.svg`).footer__email-icon
                    span.footer__email-title gorod@admsurgut.ru   
            .footer__categories
                div.footer__category-content
                    h5.footer__categorie-title О Сургуте 
                    ul.footer__categorie-links
                        each link in links.about
                            li
                                a(href=`${link.href}`).footer__categorie-link #{link.title}            
                div.footer__category-content
                    h5.footer__categorie-title Городская власть
                    ul.footer__categorie-links
                        each link in links.city
                            li
                                a(href=`${link.href}`).footer__categorie-link #{link.title}             
                div.footer__category-content
                    h5.footer__categorie-title Документы
                    ul.footer__categorie-links
                        each link in links.documents
                            li
                                a(href=`${link.href}`).footer__categorie-link #{link.title}            
                div.footer__category-content
                    h5.footer__categorie-title Категория
                    ul.footer__categorie-links
                        each link in links.category
                            li
                                a(href=`${link.href}`).footer__categorie-link #{link.title}                                    