mixin interview(value)
    .interview
        .interview__content
            .interview__info 
                .iinterview__dates 
                    +tag(value.tag)
                    span.iinterview__date #{value.date}
                .iinterview__description 
                    h3(title=`${value.title}`).iinterview__title #{value.title}
                    p.interview__text #{value.description}
                .iinterview__infos 
                    span.iinterview__votes #{value.votes}
                    span.iinterview__user-status #{value.result}
            if value.buttonText           
                +button({ type: 'link', size: 'l', class: 'button_blue', icon: 'arrow-forward-outline', text: `${value.buttonText}` })    

mixin interviews_array(datas= [])
    .interviews_array
        each value in datas 
            +interview(value)