mixin icon(icon, text)
    if text
        span.button_span #{text}
    if icon
        ion-icon(name=`${icon}` class=`icon`)

mixin button(options)
    - const classSize = options.size ? 'button_size_'+options.size : ''
    - const classHasText = options.text ? '' : 'button_without-text'
    - const classIconPosition = options.iconPosition ? 'button_icon-'+options.iconPosition : ''
    - const classHasEvent = options.event ? '' : 'button_without-event'
    - const hasTitle = options.title ? options.title : ''
    
    if options.type === 'link'
        a.button.button_link(
            href="/"
            title=hasTitle
            class=[options.class, classSize, classHasText, classIconPosition].join(' ')
            target=(options.target ? '_blank' : false)
        )
            +icon(options.icon, options.text)

    if options.type === 'button'
        button.button(onclick=options.event title=hasTitle class=[options.class, classSize, classHasText, classIconPosition, classHasEvent].join(' ') disabled=options.disabled)
            +icon(options.icon, options.text)

    if options.type === 'tag'
        span.button(title=hasTitle class=[options.class, classSize, classHasText, classIconPosition, classHasEvent].join(' '))
            +icon(options.icon, options.text)        
