mixin form-field(field)
    if field.type === 'checkbox'
        .form-field
            h3(class=`form-field__title`) #{field.title}
            .form-field__answers
                each checkbox in field.checkboxes
                    .form-field__input
                        +checkbox(checkbox)
                        span.form-field__text #{checkbox.text} 
    else if field.type === 'radio'
        .form-field
            h3.form-field__title #{field.title}
            .form-field__answers
                each checkbox in field.checkboxes
                    .form-field__input
                        +checkbox(checkbox)
                        span.form-field__text #{checkbox.text} 
    else if field.type === 'textarea'
        .form-field.form-field_inputs
            h3.form-field__title #{field.title}
            +textarea(field.options, field.error)
            span(class=`form-field__span ${field.error ? 'span_error' : ''}`) #{field.span}              
    else
        .form-field.form-field_inputs
            h3.form-field__title #{field.title}
            +input(field.options, field.error)
            span(class=`form-field__span ${field.error ? 'span_error' : ''}`) #{field.span}