mixin textarea(options, error)
    .container
        textarea(class=`textarea ${options.size ? `textarea-${options.size}` : ''} ${error ? 'textarea-error' : ''}` 
            placeholder=options.placeholder 
            oninput='getLength(this)')
        div(class=`counter ${options.cls ? options.cls : ''}`)
            span.current 0
            span /
            span.max #{options.max} 