mixin textarea(options, error)
    .textarea__container
        - const hasSize = options.size ? `textarea-${options.size}` : ''
        - const hasError = error ? 'textarea-error' : ''
        - const hasCounterClass = options.cls ? `${options.cls}_counter` : ''

        textarea(class=`textarea ${hasSize} ${hasError}` 
            placeholder=options.placeholder
            name=options.name
            required=options.required
            maxlength=options.value)
        div(class=`counter ${hasCounterClass}` role='textbox')
            span.current 0
            span /
            span.max #{options.value} 