mixin textarea(options, error)
    .textarea__container
        - const hasSize = options.size ? `textarea-${options.size}` : ''
        - const hasError = error ? 'textarea-error' : ''
        - const hasCounterClass = options.cls ? `${options.cls}_counter` : ''

        textarea(class=`textarea ${hasSize} ${hasError}` 
            placeholder=options.placeholder
            name=options.name
            maxlength=options.value 
            oninput='getLength(this)')
        div(class=`counter ${hasCounterClass}`)
            span.current 0
            span /
            span.max #{options.value} 