mixin input(input_options, error, value='')
    input(placeholder=input_options.placeholder, name=input_options.name, value=value,
        class=`input input-${input_options.size} input-${input_options.type} input-search-${input_options.size} ${error ? 'input-error' : '' }`)