mixin input(options, error, value='')
    input(placeholder=options.placeholder, name=options.name, value=value,
        class=`input input-${options.sort} input-${options.type} input-search-${options.size} ${error ? 'input-error' : '' }`)