mixin biography_card(data)
    div(class=`biography-card ${data.cls ? `biography-card_${data.cls}` : '' }`)
        .biography-card__container         
            img(src=`../resources/${data.avatar}` class=`biography-card__avatar`)                                    
            .biography-card__user-info
                h2.biography-card__name #{data.name}
                span.biography-card__job #{data.job}
                if data.href
                    a(class='biography-card__link' href=data.href) #{data.link_text}