mixin biography(data)
    .biography 
        .biography__container
            .biography__contacts-content         
                img(src=`../resources/${data.avatar}` class=`biography__avatar` alt='Изображение')
                .biography__contacts 
                    .biography__phones
                        h5.biography__phones-title Секретарь приемной
                        span.biography__phone тел. +7 (3462) 52-20-01
                        a(href='mailto:priemnaya@admsurgut.ru').biography__phone.biography__link e-mail: priemnaya@admsurgut.ru  
                    .biography__phones
                        h5.biography__phones-title Отдел делопроизводства
                        span.biography__phone тел. +7 (3462) 52 21 57
                        span.biography__phone тел. +7 (3462) 52 21 75
                        span.biography__phone факс +7 (3462) 52-21-82
                        a(href='mailto:gorod@admsurgut.ru').biography__phone.biography__link e-mail: gorod@admsurgut.ru
                    .biography__phones
                        h5.biography__phones-title Страницы в социальных сетях
                        a(href=data.vk).biography__phone.biography__link #{data.vk}
                        a(href=data.tg).biography__phone.biography__link #{data.tg}  
            .biography__info
                .biography__info-content
                    .biography__user                        
                        .biography__user-info
                            h2.biography__name #{data.name}
                            span.biography__job #{data.job}
                    .biography__description 
                        p Максим Николаевич Слепов родился 20 сентября 1973 года в Волгограде.
                        p В 1997 году окончил Тюменскую государственную медицинскую академию по специальности «Лечебное дело». В 2004 году получил второе высшее образование в Московском государственном социальном университете по специальности «Государственное и муниципальное управление».
                        p В 2005-2008 годах прошёл обучение в Академии народного хозяйства при Правительстве Российской Федерации по программе подготовки руководящих кадров «Президент», в 2005-2007 годах – по программе MBA «Мастер делового администрирования».
                        p Начал работать в Сургуте в 1998 году врачом-нефрологом в Окружном кардиологическом диспансере «Центр диагностики и сердечно-сосудистой хирургии». Трудился на руководящих должностях в Центре диагностики и сердечно-сосудистой хирургии, Сургутском филиале Окружного фонда обязательного медицинского страхования. В 2007-2024 годах возглавлял Сургутскую городскую клиническую поликлинику № 1. Имеет высшую квалификационную категорию по специальности «Организация здравоохранения», кандидат медицинских наук.
                        p В 2011 году был избран депутатом городской Думы, работал в составе Дум города Сургута V, VI и VII созывов. С 2021 по 2024 годы – Председатель Думы города, председатель постоянного комитета Думы города по бюджету, налогам, финансам и имуществу.
                        p 3 июля 2024 года избран Главой города Сургута.
                        p С 2005 года является членом Всероссийской политической партии «ЕДИНАЯ РОССИЯ».
                        p Удостоен Нагрудного знака «Отличник здравоохранения», Почётных грамот Министерства здравоохранения РФ, Департамента здравоохранения ХМАО-Югры, ТФОМС Югры. Имеет Почётные грамоты и Благодарственные письма Тюменской областной Думы, Думы Ханты-Мансийского автономного округа – Югры, Думы города Сургута.
                        p В 2010 и 2013 годах занесён на Доску Почёта города Сургута, в 2017 году награждён Благодарностью Главы города Сургута, в 2022 – знаком «За заслуги перед городом Сургутом».
                        p Женат, воспитывает четверых детей. 
                        .biography__more-contacts
                            .biography__more-contacts-content
                                h5.biography__more-contacts-title Помощник Главы города
                                p Клечкина-Юшкова Наталья Викторовна
                                    br
                                    | +7(3462) 52-24-04
                                    br
                                    a.biography__link(href='mailto:priemnaya@admsurgut.ru') e-mail: klechkina_nv@admsurgut.ru
                            .biography__more-contacts-content
                                h5.biography__more-contacts-title Советник Главы города
                                p Мачтакова Анна Яковлевна
                                    br
                                    | +7 (3462) 52-20-17
                                    br
                                    a.biography__link(href='mailto:Machtakova_aya@admsurgut.ru') e-mail: Machtakova_aya@admsurgut.ru      
